<div id="post{{id}}" class="media-content cell has-background-dark">
    <div class="content">
        <p>
            <strong>{{title}}</strong> <small>{{formatTime createdAt}}</small>
            <br />
            {{content}}
            {{sport}} {{distance}}km {{duration}}min
            {{formatTime date}}
            {{location}}
            {{!-- all of the posts User info is included in the post object; however, it can only be accessed in block brackets --}}
            @{{[User.username]}}
        </p>
    </div>
</div>

<script src="/js/post.js" data-post="{{id}}"></script>