<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiTrack - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title is-4">FiTrack</h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div class="level">
                {{!-- Add a button called edit profile that routes to /aboutEdit --}}
                <div class="level-left">
                    <h1 class="title">Profile</h1>
                </div>
                <div class="level-right">
                    <div class="buttons">
                        <a href="/followers" class="button is-info">Followers</a>
                        <a href="/following" class="button is-info">Following</a>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button id="aboutYouBtn" class="button is-info">Edit Profile</button>
                </div>
            </div>
            <div class="content">
                <h2>{{user.name}}</h2>
                <p>Username: <span>{{user.username}}</span></p>
                <p>Gender: <span>{{user.gender}}</span></p>
                <p>Country: <span>{{user.country}}</span></p>
                <p>Description: {{user.description}}</p>
            </div>
            

            <!-- Submit Post Button -->
            <div class="field">
                <div class="control">
                    <button id="createBtn" class="button is-info">Create Post</button>
                </div>
            </div>

            <!-- Recent Posts Section -->
            <div class="field">
                <label class="label">Recent Posts:</label>
                <div class="content">
                    {{#each posts}}
                    {{> postCard}}
                    {{/each}}
                </div>
            </div>

            <!-- Logout Button -->
            <div class="buttons is-centered">
                <button id="logoutBtn" class="button is-danger">Logout</button>
            </div>
        </div>
    </section>

</body>
</html>

<script src="/js/myProfile.js"></script>
